:root {
    /* Colors */
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);

    /* Font */
    --family-sans: "Figtree", sans-serif;
    /* Desktop Fonts */
    --text-preset-1-lg: 1.5rem; /* 24px */
    --text-preset-2-lg: 1rem; /* 16px */
    --text-preset-3-lg: 0.875rem; /* 14px */
    /* Mobile Fonts */
    --text-preset-1-sm: 1.25rem; /* 20px */
    --text-preset-2-sm: 0.875rem; /* 14px */
    --text-preset-3-sm: 0.75rem; /* 12px */

    /* Responsive fonts with 'clamp' using the utopia.fyi website tool */
    /* @link https://utopia.fyi/clamp/calculator?a=375,432,20—24|14—16|12—14&p=text-preset */
    --text-preset-1: clamp(var(--text-preset-1-sm), -0.3947rem + 7.0175vw, var(--text-preset-1-lg));
    --text-preset-2: clamp(var(--text-preset-2-sm), 0.0526rem + 3.5088vw, var(--text-preset-2-lg));
    --text-preset-3: clamp(var(--text-preset-3-sm), -0.0724rem + 3.5088vw, var(--text-preset-3-lg));

    --line-preset-1: 1.5;

    /* If you ask what this part do well with my google research it makes the web font look like in the figma design */
    /* Honestly I don't see any difference, expecially when the frontendmentor shows the comparison... but okay */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;

    /* Spacing */
    --space-50: 0.25rem; /* 0.5*8 = 4px */
    --space-100: 0.5rem; /* 1*8 = 8px */
    --space-150: 0.75rem; /* 1.5*8 = 12px or 12px / 16px = 0.75rem */
    --space-300: 1.5rem; /* 3*8 = 24px or 24 / 16 = 1.5rem */

    /* Radius */
    --round-sm: 0.25rem; /* 4px */
    --round-md: 0.625rem; /* 10px */
    --round-lg: 1.5rem; /* 24px */

    /* Shadow */
    --shadow: var(--space-100) var(--space-100) var(--gray-950);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--yellow);
    color: var(--gray-500);
    font-family: var(--family-sans);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: var(--text-preset-2);

    line-height: var(--line-preset-1);

    padding: var(--space-300);
}

/* Globals */
h2 {
    color: var(--gray-950);
    font-size: var(--letter-preset-1);
    font-weight: 800;
}

time {
    color: var(--gray-950);
    font-size: var(--text-preset-2);
    display: block;
}

picture,
img {
    max-width: 100%;
    display: block;
}